.quote {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.quote__card {
  display: flex;
  flex-direction: column;
  padding: 48px;
  background-color: skyblue;
  border-radius: 12px;
  color: white;
}
.quote__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
.quote__autor {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  align-self: flex-end;
}
.btn {
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 9px;
}
.btn_light {
  background: #ffffff;
  color: #25bf00;
  border: 1px solid #e6e6e6;
}
