.exchange {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 10%;
  margin: auto 0;
}
.exchange__item {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.exchange__currency {
  font-size: 16px;
  line-height: 24px;
  color: #9a9a9a;
}
.exchange__rate {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
